<h1>Dev</h1>

<ul>
  <li>
    September 19, 2018 - 
    <%= link_to "this blog!", home_path %>
    <mark>#RubyonRails</mark>
    <mark>#Bootstrap 4</mark>
  </li>
  <li>
    November 1, 2017 - 
    <%= link_to "MyGarage MPG tracker", "https://fast-scrubland-76725.herokuapp.com/" %>
    <mark>#Node</mark>
    <mark>#Express</mark>
    <mark>#jQuery</mark>
    <mark>#MongoDB</mark>
    <mark>#API</mark>
  </li>
  <li>
    Sept 21, 2017 - 
    <%= link_to "14ers.info", "http://www.14ers.info/" %>
    <mark>#jQuery</mark>
    <mark>#API</mark>
  </li>
  <li>
    August 27, 2017 - 
    <%= link_to "Thinkful Tube", "https://jhnnyk.github.io/ThinkfulTube/" %>
    <mark>#jQuery</mark>
    <mark>#API</mark>
  </li>
  <li>
    August 27, 2017 - 
    <%= link_to "Mt Evans Quiz", "https://jhnnyk.github.io/quizApp/" %> 
    <mark>#jQuery</mark>
  </li>
  <li>
    May 25, 2017 - 
    <%= link_to "Node Weather CLI", "https://github.com/jhnnyk/Node-weather-CLI" %> 
    <mark>#Node</mark>
    <mark>#API</mark>
    <mark>#CLI</mark>
  </li>
  <li>
    May 19, 2017 - 
    <%= link_to "Spotify album search", "http://my-small-projects.herokuapp.com/spotify-album-search/" %> 
    <mark>#JavaScript</mark>
    <mark>#API</mark>
  </li>
  <li>
    May 17, 2017 - 
    <%= link_to "flickr tag search", "http://my-small-projects.herokuapp.com/flickr_search/" %> 
    <mark>#JavaScript</mark>
    <mark>#API</mark>
  </li>
  <li>
    May 1, 2017 - 
    <%= link_to "Tic Tac Toe", "https://tic-tac-toe-jhnnykio.herokuapp.com/index.html" %> 
    <mark>#JavaScript</mark>
  </li>
  <li>
    April 19, 2017 - 
    <%= link_to "Blauto", "https://mysterious-stream-37713.herokuapp.com/" %> 
    <mark>#Sinatra</mark>
    <mark>#Material Design</mark>
  </li>
  <li>
    April 19, 2017 - 
    <%= link_to "Fwitter", "https://protected-bastion-25696.herokuapp.com/" %> 
    <mark>#Sinatra</mark>
    <mark>#Bootstrap 3</mark>
  </li>
  <li>
    February 27, 2017 - 
    <%= link_to "iRunFar Reader", "https://github.com/jhnnyk/irunfar_reader-cli-app" %> 
    <mark>#Ruby</mark>
    <mark>#Gem</mark>
    <mark>#CLI</mark>
  </li>
  <li>
    February 14, 2017 - 
    <%= link_to "Valentine's Day", "http://my-small-projects.herokuapp.com/ValentinesDay2017/" %> 
    <mark>#JavaScript</mark>
  </li>
  <li>
    January 27, 2017 - 
    <%= link_to "kids birthday countdown", "http://my-small-projects.herokuapp.com/kids-countdown/" %> 
    <mark>#JavaScript</mark>
  </li>
  <li>
    May 3, 2016 - 
    <%= link_to "Twitch API", "https://codepen.io/jhnnyk/pen/eZQBPP" %> 
    <mark>#JavaScript</mark>
    <mark>#API</mark>
  </li>
  <li>
    April 29, 2016 - 
    <%= link_to "Wikipedia Viewer", "https://codepen.io/jhnnyk/pen/LNgMvM" %> 
    <mark>#JavaScript</mark>
    <mark>#API</mark>
  </li>
  <li>
    April 28, 2016 - 
    <%= link_to "Show the Local Weather", "https://codepen.io/jhnnyk/pen/NNOqJz" %> 
    <mark>#JavaScript</mark>
    <mark>#API</mark>
  </li>
  <li>
    April 27, 2016 - 
    <%= link_to "Random Quote Machine", "https://codepen.io/jhnnyk/pen/QNVvvr" %> 
    <mark>#JavaScript</mark>
    <mark>#API</mark>
  </li>
</ul>